@import url("https://fonts.googleapis.com/css2?family=Blaka&family=Joan&family=Roboto:wght@300;900&display=swap");
.fontsize {
  font-size: 2rem;
  margin: 20px;
  list-style: none; }

.text-grey {
  color: grey; }

.text-red {
  color: red; }

.text-center {
  text-align: center; }

.text-white {
  color: #1C1C1C;
  font-style: normal;
  color: #ffffff; }

.prod-get, .productos .produ {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap; }

.nav {
  display: flex;
  justify-content: space-between;
  background-color: #383838; }
  .nav img {
    width: 250px; }
    @media (min-width: 280px) and (max-width: 320px) {
      .nav img {
        width: 150px; } }
  .nav ul {
    display: flex; }
    .nav ul li {
      list-style: none; }
      .nav ul li a {
        color: #ffc655;
        font-size: 1em;
        text-decoration: none;
        font-family: "Roboto", sans-serif; }
        .nav ul li a:hover {
          color: #202020;
          text-decoration: underline;
          cursor: pointer;
          font-size: 120%; }

.nav {
  background-color: #383838;
  padding: 4px 20px;
  position: sticky;
  top: 0;
  display: flex;
  animation-name: imgAlpha;
  animation-duration: .5s; }
  .nav li {
    list-style: none; }
  .nav a {
    font-size: 2em;
    text-decoration: none;
    color: #ffc655;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    margin: 0 8px; }

.main-nav {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: 2rem;
  align-items: flex-end; }

#color-navv {
  color: #ffc655; }

.botonera img {
  width: 250px; }

.nav-align {
  float: right;
  margin-top: 30px; }

.text-center {
  text-align: center; }

.nav ul li a {
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3; }

@keyframes imgAlpha {
  from {
    opacity: 0.2; }
  to {
    opacity: 1; } }

section img {
  width: 100px; }

.section-index {
  padding: 50px;
  justify-content: space-around; }

.contenedor-selection {
  display: flex;
  justify-content: space-around;
  text-align: -webkit-center; }

.publi-info {
  display: flex;
  justify-content: space-between;
  width: 55%; }

.novedades_index {
  width: 80%;
  margin: 30px auto;
  padding: 20px;
  border: solid black 2px;
  background-color: #383838; }

footer img {
  width: 25px; }

.footer {
  margin: 50px;
  padding: 10px;
  background-color: #ffc655;
  display: flex;
  justify-content: space-around; }

* {
  padding: 0;
  margin: 0; }

h1, h2, h3, h4 {
  font-family: "Roboto", sans-serif;
  font-size: 3em;
  color: black; }

h5 {
  font-family: "Roboto", sans-serif;
  color: #3c3c3c;
  font-size: 3em; }

p {
  font-size: 1em;
  line-height: 1.4em;
  color: #202020;
  padding: 4px;
  font-style: "Roboto", sans-serif; }

.bg-nav {
  background-color: #383838; }

h1, h2, h3 {
  font-family: 'Joan', serif;
  background: linear-gradient(to right, rgba(72, 72, 72, 0), rgba(20, 20, 20, 0.5)); }

body {
  background-image: url(../img/weback.jpg);
  background-attachment: fixed;
  min-height: 100%; }

.novedades__nosotros {
  width: 90%;
  margin: 20px auto;
  padding: 20px; }

.text-center {
  text-align: center; }

.text-red {
  color: red; }

.fontsize {
  font-size: 1em;
  margin: 20px;
  list-style: none; }

.produ {
  margin: 20px; }

.productos .produ {
  margin: 20px;
  padding: 20px; }
  .productos .produ figure {
    text-align: center; }
    .productos .produ figure img {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      width: 200px; }
      .productos .produ figure img:hover {
        cursor: pointer;
        width: 220px; }

.grid-background {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(6, auto);
  grid-template-areas: 'nav nav' 'header header' 'main main' 'info imagen' 'section section' 'foot foot'; }

.grid-gtryacc {
  display: grid;
  grid-template-columns: auto	auto;
  grid-template-rows: repeat(4, auto);
  grid-template-areas: "nav nav" "header header" "filtros productos" "foot foot"; }

.nav {
  grid-area: nav; }

.header {
  grid-area: header; }

.filtros {
  grid-area: filtros; }

.productos {
  grid-area: productos; }

.main {
  grid-area: main; }

.section {
  grid-area: section; }

.foot {
  grid-area: foot; }

.infogrid {
  grid-area: info; }

.imagengrid {
  grid-area: imagen; }

@media only screen and (max-width: 640px) {
  .grid-background {
    grid-template-columns: repeat(1, auto);
    grid-template-areas: 'nav' 'header' 'main' 'info'  'imagen' 'section' 'foot'; }
  .section {
    display: flex;
    flex-direction: column; } }

@media only screen and (max-width: 530px) {
  .grid-gtryacc {
    grid-template-columns: repeat(1, auto);
    grid-template-areas: "nav" "header" "filtros"  "productos" "foot"; }
  .section {
    display: flex; } }
