*{
	padding: 0;
	margin: 0;
}


h1, h2, h3, h4{
	font-family: $mainFont;
	font-size: $textXl;
	color: $keycolor;
}

h5{
	font-family: $mainFont;
	color: $greyy;
	font-size: $textXl;
	
}

p{
	@include texto($textMd, 1.4em, $black)
	font-style: $mainFont;
	
}

//REUTILIZANDO CSS

.bg-nav{
	background-color: rgba(56, 56, 56, 1);
}

h1,h2,h3{
		font-family: 'Joan', serif;
		background: linear-gradient(to right,rgba(72,72,72,0), rgba(20,20,20,.5));
		
}

body{
	background-image: url(../img/weback.jpg);
	background-attachment: fixed;
	min-height: 100%;
}

//NOSOTROS

.novedades__nosotros{
	width: 90%;
	margin: 20px auto;
	padding: 20px;
	
}

.text-center{
	text-align: center;
}

.text-red{
	color: red;
}

.fontsize{
	font-size: $textMd;
	margin: 20px;
	list-style: none;
}

//ACCESORIOS Y GUITARRAS

.produ{
	margin: 20px;
	
} 




.productos{
	 .produ{
	 	margin: 20px;
		display: flex;
		justify-content: space-between;
		flex-flow: row wrap;
	 	figure{ 
	 		text-align: center;
	 		img{
				border-top-left-radius: 5px;
				border-top-right-radius: 5px;
				width: 200px;
				&:hover{
					cursor: pointer;
					width: 300px;
				}
}
}
}
}

