//EXTEND

.prod-get{
			display: flex;
	  justify-content: space-around;
		flex-flow: row wrap;
}





//MIXINS

@mixin texto($font-size, $line-height, $color){
	font-size: $font-size;
	line-height: $line-height;
	color: $color;
	padding: 4px;
}

@mixin d-flex($justify,$align){
	display: flex;
	justify-content: $justify;
	align-items:$align;
}

@mixin d-flex-column(){
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}