//nesting - anidacion


.nav{
	display: flex;
	justify-content: space-between;
	background-color: $mainColor;
	img{
		width: 250px;
		@media(min-width: 280px) and (max-width: 320px){
			width: 150px;
		}
	}
	ul{
		display: flex;
		li{
			list-style: none;
			a{
				color: $secondaryColor;
				font-size: $textMd;
				text-decoration: none;
				font-family: $mainFont;
				&:hover{
					color: $black;
					text-decoration: underline;
					cursor: pointer;
					font-size: 120%;
				}
			}
		}
	}

}

//REUTILIZANDO LO DEL CSS

.nav{
	background-color: $mainColor;
	padding: 0px 0px ;
	position: sticky;
	top: 0;
	display: flex;
	animation-name: imgAlpha;
	animation-duration: .5s;
	ul{

	}
		li{
			list-style: none;
		}
			a{
				font-size: $textLg;
				text-decoration: none;
				color: $secondaryColor;
				font-family: $mainFont;
				font-weight: 900;
				margin: 0 8px;
			}
}

.main-nav{
	list-style: none;
	display: flex;
	flex-direction: row;
	margin-left: auto;
	margin-right: 2rem;
	align-items: flex-end;
}

#color-navv{
  color: $secondaryColor;
}

.botonera{ 
	img{	
		width: 180px;
		margin: 2px;
		margin-top: 15px;

}
}


.nav-align{
	float: right;
	margin-top: 30px;
	display: flex;
	
}

//header
.text-center{
	text-align: center;
}




//ANIMACIONES DE NAV
.nav ul li a{
	background-image: linear-gradient(currentColor, currentColor);
	background-position: 0% 100%;
	background-repeat: no-repeat;
	background-size: 0% 2px;
	transition: background-size .3;
}

//.nav ul li a:hover{
//	color: black;
//	font-weight: 600;
//	background-size: 100% 2px;

//}


@keyframes imgAlpha{
	from{opacity: 0.2;}
	to{opacity: 1;}
}