section{

	
	 img{
		width: 100px;
}
}
.section-index {
	
	padding: 50px;
	justify-content: space-around;
}

.contenedor-selection{
	display: flex;
	justify-content: space-around;
	text-align: -webkit-center;

}

.publi-info{
	display: flex;
	justify-content: space-between;
	width: 55%;
			
}