<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Error 404</title>
	<link rel="shortcut icon" href="../img/favicon.png">

	<!-- LINK DE CSS -->

<link rel="stylesheet" href="../css/style.css">
</head>

<body>

<div class="error">
	
		<img src="../img/404.jpg" alt="Dibujo de error 404">
	
</div>

<h6>Ups! Esta pagina no se encuentra disponible</h1>
<br><br>
<a  href="../index.html">VOLVER</a>



</body>

</html>